//Tao file CSS rieng
@import "header.scss";
@import "footer.scss";
@import "login.scss";
@import "index.scss";
@import "register.scss";
@import "detail.scss";
@import "event.scss";
@import "eventscreates.scss";
@import "manage-event.scss";
@import "news.scss";
@import "category.scss";
@import "createcategory.scss";
@import "editcategory.scss";
@import "managecategory.scss";
@import "showcategory.scss";
@import "trashcategory.scss";
@import "contact.scss";
@import "grid.scss";
@import "error.scss";
@import "idea.scss";

//
body li {
  list-style-type: none;
  text-decoration: none;
}

.checkbox-select-all-options {
  width: 10%;
  margin: 0px 16px;
}

.btn-secondary {
  background-color: black;
  border: rgb(255, 50, 71);
}

.btn-secondary:hover {
  background-color: rgb(131, 142, 202);
}





