#mySide a
{
  position: absolute;
  left: -80px;
  transition: 0.3s;
  padding: 15px;
  width: 100px;
  text-decoration: none;
  font-size: 17px;
  color: black;
  border-radius: 0 5px 5px 0;
}
#mySide a:hover
{
  left: 0;
}
#C
{
  top: 220px;
  background-color: #DCCB97;
}
#U
{
  top: 280px;
  background-color: #FCB38B;
}
#D
{
  top: 340px;
  background-color: #8B93FC;
}