.co-xxxlarge
{
    text-align: center;
    font-size: 5em;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.co-display
{
    color: black;
    text-align: center;
    font-size: 1.5em;
}

.co-wide
{
    text-align: center;
    font-size: 2em;
    padding: 0.5em 2.5em;
    background-color: black;
    color: pink;
    border-radius: 15em;
}
.co-co
{
    text-align: center;
}

.left-column-1
{
    width: 50%;
    float: left;
}
.right-column-1
{
    width: 50%;
    float: right;
}

.co-open-button
{
    background-color: black;
    color: lightpink;
    padding: 1em 3em;
    bottom: 5.5em;
    right: 0;
    width: 15em;
    border-radius: 10em;
    border: none;
    cursor: pointer;
    position: fixed;
}
.co-open-button:hover
{
  opacity: 0.8;
}

.co-chat
{
    display: none;
    position: fixed;
    bottom: 0;
    right: 0;
    border-radius: 0.3em;
    border: 0.5em solid rgb(211, 178, 178);
    z-index: 7;
}
.co-0
{
    padding: 1em;
    background-color: rgb(247, 243, 243);
}

.co-chat-tr
{
    text-align: center;
    font-size: 1.8em;
}

.co-e
{
    padding: 0.5em 3em;
}
.co-t
{
    padding: 0.5em 3em;
}
.co-m
{
    padding: 5em 3em;
}

.btn00
{
  background-color: #8B93FC;
  color: black;
  padding: 0.5em 1.5em;
  border: none;
  cursor: pointer;
  width: 10.7em;
  opacity: 0.8;
  border-radius: 0.2em;
  font-size: 0.85em;
}
.cancel00
{
  background-color: #F6F07C;
}
.btn00:hover
{
  opacity: 1;
}

.co-c5
{
    font-size: 2em;
}