#h1-create-category,
#h2-create-category,
#p-create-category
{
  text-align: center;
  line-height: 2em;
}
#h2-create-category
{
  font-size: 1.2em;
}
#N-create-category
{
  width: auto;
  background-color: black;
  color: pink;
  padding: 1em 15em;
  border-radius: 5em;
  cursor: pointer;
}
#N-create-category:hover 
{
  opacity: 0.8;
}

.create-modal 
{
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
  padding-top: 7em;
}
.create-modal-content 
{
  background-color: #fefefe;
  margin: 10% auto 15% auto;
  border: 1px solid #888;
  width: 65%;
}

.create-container 
{
  padding: 1.5rem;
}
#h3-create-category
{
  text-align: center;
}

#input type[text-create-category]
{
  padding: 1rem 10rem;
  margin: 0.5rem 0;
  display: inline-block;
  border: 0.01rem solid #ccc;
  box-sizing: border-box;
}
.btn-success-1
{
  padding: .3em 4em;
  border-radius: 2em;
  background-color: black;
  color: lightpink;
  cursor: pointer;
}
.cancelbtn-1 
{
  width: auto;
  padding: .3em 4em;
  border-radius: 2em;
  background-color: #d47872;
  color: black;
  cursor: pointer;
}
.btn-success-1:hover,
.cancelbtn-1:hover
{
  opacity: 0.85;
}

.animate-cr-ca
{
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}
@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}