.text-center{
    margin: 12px 12px;
}
.list-hover:hover { 
    color: white;
    background-color: #007bff;
}

.list-group h4 {
    background-color: black;
    color: white;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    margin: 0;
    font-size: 20px;
    padding: 12px 20px;
    position: relative;
}

.detail-background {
    border-radius: 8px;
    background-color:lightgrey;
    margin-top: 32px;
    position: relative;
}

.event-background__detail{
    position: relative;
    background-color: #f3f3f3;
  
}

.detail-img {
    transform: translateY(-32px);
    width: 100%;
    border-radius: 4px;
    position: relative;
    box-shadow: .5rem .5rem 3rem 1px rgba(0, 0, 0, 0.6);
}

.event-detail__img{
    width: 100%;
    
    position: relative;
    object-fit: cover;
    transform: translateX(-10px) translateY(-20px);
}

.detail-title {
    color: #007bff;
    font-size: 2.6rem;
}

.detail-title__name
{
    font-size: 1.8rem;
    margin: 20px 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.detail-title__name--modify
{
    transform: translateX(-30px) translateY(-20px);
   
}


.event-detail__des, 
.event-detail__date,
.event-detail__author{
    font-size: 1rem;
    line-height: 1.8rem;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
}

.event-detail__author {
    text-align: right;
    font-weight:bold;
}


.event-detail__info{
    transform: translateX(-30px) translateY(-20px);
    margin: 30px;
}

.detail-info {
    
}

.column-fix{
    
}   

.event-edit {
    margin-bottom: 12px;
}


