.navbar{
  width: 1713px;
  margin-left: auto;
  margin-right: auto;
  height: 85px;
}

.navbar a{
  color: black;
}
.navbar li{
  display: inline-block;
}

.inputsub {
  display:none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.navright {
  position: relative;
}
.navright li{
  display: inline-block;
}

.login{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.login a{
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.login a:hover {background-color: #868282}

.navright li:hover .login {
  display: block;
}
.navright li:hover .inputsub{
  display: block;
}