.navbar{
  width: 1903px;
  margin-left: auto;
  margin-right: auto;
  height: 85px;
  background-color: blanchedalmond;
}

.navbar a {
  color: black;
}
.navbar li {
  display: inline-block;
}
.navcenter{
  padding-right:190px;
}

.navleft{
  padding-left: 41px;
}
.navleft li{
  padding-right: 10px;
}

.navright {
  position: relative;
  padding-right: 96px;
}
.navright li {
  display: inline-block;
  padding-right: 10px;
}


.login{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.inputsub {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 220px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.login a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.login a:hover {
  background-color: #868282;
}

.navright li:hover .login {
  display: block;
}
.navright li:hover .inputsub {
  display: block;
}

// CSS SLIDER
#slider{
  padding-top: 43.452381%;
  background-image: url("/src/public/images/logo.jpg");

}
