.list-idea a {
  color: black;
}
#customers {
  border-collapse: collapse;
  width: 20%;
  position: fixed;
  left: 2%;
}

#customers td,
#customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:hover {
  background-color: #ddd;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: rgb(255, 50, 71);
  color: white;
}
@media only screen and (min-width: 600px) and (max-width: 1200px) {
}
@media only screen and (min-width: 320px) and (max-width: 739px) {
}
@media only screen and (min-width: 320px) and (max-width: 738px) {
}

.pagination-idea-page {
  text-align: center;
  margin: 32px 0 32px;
  user-select: none;
}

.pagination-idea-page li {
  display: inline-block;
  margin: 5px;
}

.pagination-idea-page li a {
  color: black;
  text-decoration: none;
  font-size: 1.2rem;
  line-height: 45px;
}

.previous-page,
.next-page {
  background: rgb(255, 50, 71);
  width: 80px;
  border-radius: 45px;
  cursor: pointer;
  transition: 0.3s ease;
}

.previous-page:hover {
  transform: translateX(-5px);
}

.next-page:hover {
  transform: translateX(5px);
}

.current-page,
.dots {
  background-color: #ccc;
  width: 45px;
  border-radius: 50%;
  cursor: pointer;
}

.active {
  background: rgb(255, 50, 71);
}

.disable {
  background-color: #ccc;
}

//Create idea page
.create-idea {
  height: fit-content;
  background-color: rgba(255, 255, 255, 0.13);
  border-radius: 10px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
}
