.Intro{
    background-image: url("/images/slider.png");
    padding-top: 66.6666667%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.Intro .text{
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform:translateX(-50%);
    text-align: center;
}
.text h1{
    color: white;
}
.text a{
    text-decoration: none;
}
.text h1:hover{
    color: blue;
}

//CSS FOR 2 IMG
.Staff{
    width: 50%;
}
.Student{
    width: 50%;
}
.Student,
.Staff{
    float: left;
}

.Staff img,
.Student img{
    width: 100%;
    height: auto;
}
