.Intro{
    background-image: url("/images/slider.png");
    padding-top: 66.6666667%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.Intro .text{
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform:translateX(-50%);
    text-align: center;
}
.text h1{
    color: white;
}
.text a{
    text-decoration: none;
}
.text h1:hover{
    color: blue;
}

//CSS FOR 2 IMG
.Staff{
    width: 100%;
    clip-path: polygon(0 0, 100% 0, 0 100%);

}
.Student{
    width: 100%;
    margin-top: -68.47%;
    clip-path: polygon(100% 0, 100% 100%, 0 100%);
}

.Staff img,
.Student img{
    width: 100%;
    height: auto;
}
.Slider a{
    text-decoration: none;
    color: black;
}

.Staff{
    position: relative;
}

.Staff-text{
    position: absolute; 
    color: white;
    bottom: 50%;
    left: 15%;
}
.Student{
    position: relative;
}
.Student-text{
    position: absolute;
    color: white;
    bottom: 50%;
    right: 15%;
}


