#h1-manage-category,
#p-manage-category
{
    text-align: center;
    line-height: 1.5em;
}

#manage_back
{
    text-align: center;
    background-color: rgb(193, 224, 172);
    color: rgb(90, 62, 95);
    padding: 0.2em 3em;
    border-radius: 2em;
    cursor: pointer;
}
#manage_back :hover
{
    opacity: 0.85;
}

#manage-but1
{
    background-color: black;
    color: rgb(193, 224, 172);
    border-radius: 1em;
    border: white;
}
#manage-but1:hover
{
    background-color: rgb(86, 129, 129);
    opacity: 0.6;
}

#manage-line1
{
    text-align: center;
    background-color: rgb(193, 224, 172);
    color: rgb(90, 62, 95);
}
#manage-line2
{
    text-align: center;
}
#manage-line2-1
{
    text-align: center;
}

#ED
{
    background-color: #DCCB97;
    color: black;
}

#DE
{
    background-color: #FCB38B;
    color:black;
}

#DL
{
    background-color: #8B93FC;
    color: black;
}
#ED:hover,
#DE:hover,
#DL:hover
{
    opacity: 0.6;
}

#manage-line2-0
{
    text-align: center;
}