.card-footer {
    text-align: center;
}

.card-footer:hover {
    background-color: #ff3247;
    color: white;
    text-decoration: none;
}

.overflow-hidden {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}