.divider-text {
  position: relative;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
.divider-text span {
  padding: 7px;
  font-size: 12px;
  position: relative;   
  z-index: 2;
  border-radius: 50%;
}
.divider-text:after {
  content: "";
  position: absolute;
  width: 100%;
  border-bottom: 1px solid #ddd;
  top: 55%;
  left: 0;
  z-index: 1;
}

.btn-facebook {
  background-color: #405D9D;
  color: #fff;
}
.btn-google {
  background-color: #ff3247;
  color: #fff;
}

.text-white {
  color: #fff!important;
}

.link-registerpage {
  color: #ff3247;
}

.link-registerpage:hover {
  color: red;
}

.btn-register {
  color: #fff;
  border-color: #ff3247;
  background-color: #ff3247;
}

.btn-register:hover {
  color: #fff;
  border-color: red;
  background-color: red;
}

.register-form {
  height: fit-content;
  width: 450px;
  background-color: rgba(255, 255, 255, 0.13);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 60%;
  left: 50%;
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
}

.sign-up-page {
  background: #080710;
  height: 100vh;
}

.form-control:hover {
  border-color: #1dbfaf;
}

.form-group.invalid .form-control {
  border-color: #f33a58;
}

.form-group.invalid .form-message {
  color: #f33a58;
}
