.title-of-idea {
  background-color: #fff;
  border: solid rgb(218, 213, 213);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.title-of-idea p {
  margin-bottom: 0;
}
.title-of-idea .avatar-for-idea {
  padding-left: 10px;
}
.profile-img-idea {
  width: 35px;
  border-radius: 20px;
  margin-top: 5px;
}
.profile-img-for-comment {
  width: 30px;
  border-radius: 20px;
  margin-top: -25px;
}
.profile-img-input-comment {
  width: 40px;
  border-radius: 20px;
  margin-top: -5px;
}
.comment-for-idea {
  margin-top: 10px;
}
.comment-for-idea p {
  padding-left: 10px;
}
.interactive-for-idea {
  display: flex;
  justify-content: space-between;
}
.like-unlike-btn {
  margin-left: 5px;
  margin-top: -5px;
}
.show-content-of-idea {
  margin-right: 5px;
}
.show-content-of-idea p {
  cursor: pointer;
}
.show-content-of-idea p:hover {
  opacity: 0.6;
  text-decoration: underline;
}
.comment-for-idea {
  background-color: #fff;
  border-radius: 10px;
  display: none;
}
.comment-for-idea input {
  border: none;
  border-radius: 20px;
}
.input-comment {
  width: 95%;
  padding: 6px 20px;
  display: inline;
  background-color: rgb(226, 222, 222);
}
.comment-for-idea ::placeholder {
  color: rgb(51, 48, 48);
}
.box-comment {
  background-color: rgb(226, 222, 222);
  display: inline-block;
  border-radius: 10px;
  width: fit-content;
}
.box-comment p {
  padding-right: 10px;
 
}
