#h1-cateshow
{
    text-align: center;
    line-height: 2em;
}
.title-cate
{
    background-color: #fff;
    border: solid rgb(228, 206, 206);
    box-shadow: 0 4em 10em 0 rgba(0,0,0,0.2);
    border-radius: 1.5em;
    width: 50%;
    padding: 1.5em 7em;
}