
<div class="bao">
  <div class="row">
    <div class="col-sm-6 col-md-6 col-lg-6 create-mobile ">
      <h1 style="margin: 12px; padding-left: 12px;">Create new news page</h1> 
      <div class="mt-4">
        {{!-- enctype="multipart/form-data" --}}
      <form style="margin: 12px; padding-left: 12px;" action="/news/store" method="post" >
      <div class="form-group">
          <label for="title">Title</label>
          <input type="text" class="form-control" id="title" name="title" placeholder="Enter title" required> 
        </div>
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" name="name" placeholder="Enter name" required> 
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <input type="text" class="form-control" id="description" name="description" placeholder="Enter description" required> 
        </div>
        <div class="form-group">
          <label for="image">Image Link</label>
          <input type="text" class="form-control" id="image" name="image" placeholder="Enter image" required> 
        </div>
        <div class="form-group" hidden>
          <label for="author">author</label>
          <input type="text" class="form-control" id="author" name="author" value="{{userLogin.username}}" disabled> 
        </div>
        {{!-- <div class="form-group">
          <label for="createdAt">Create at</label>
          <input type="text" class="form-control" id="createdAt" name="createdAt" placeholder="Enter createdAt"> 
        </div>
        <div class="form-group">
          <label for="updatedAt">Updated at</label>
          <input type="text" class="form-control" id="updatedAt" name="updatedAt" placeholder="Enter updatedAt"> 
        </div> --}}
        {{!-- <div class="form-group">
          <label for="slug">slug</label>
          <input type="text" class="form-control" id="slug" name="slug" placeholder="Enter slug"> 
        </div> --}}
        <input type="submit" class="btn btn-success" value="Submit">
      </form>
      </div>
    </div>

    <div class="col-sm-6 col-md-6 col-lg-6 create-for-mobile">
      <div class="img-right">
        <img class="img-center" src="https://th.bing.com/th/id/R.b739deba47b0f9ccd812ec1b187a0774?rik=Rja7DMRh2i54Dw&riu=http%3a%2f%2fcdn.onlinewebfonts.com%2fsvg%2fimg_261730.png&ehk=LbLCuw47x9yc8TSWd2FxSGBRuqWkKxgagIa2WLAoRwI%3d&risl=&pid=ImgRaw&r=0" alt="Page icon">
        <div class="text-content">
          <span class="text_detail">
            Add news. All FearOG working for you
          </span>

        </div>
      </div>
    </div>
  </div>
</div>



