* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

header {
  background-color: black;
  height: 85px; }

.Nav-right li,
.Nav-left li {
  display: inline-block; }

.Nav-right li {
  padding-right: 80px;
  padding-top: 30px; }

.Nav-right,
.Nav-left {
  width: 50%;
  float: left;
  text-align: center; }

.NavBar a {
  color: white; }

.Nav-left a {
  font-size: 50px; }

footer {
  font-size: 16px;
  background-color: black; }

.col-2 li {
  list-style: none;
  padding-top: 20px;
  color: white; }

.col-2 a {
  color: white; }

.col-2 .infor {
  opacity: 0.6; }

.col-6 li {
  list-style: none;
  color: white;
  padding-top: 20px; }

.container {
  color: #000; }

.column-4 {
  float: left;
  width: 33.33333%;
  padding: 20px 2%;
  align-items: center; }

.btn-secondary {
  background-color: #000;
  color: #f1f1f1; }

.create-new {
  border-left: 1px solid #f1f1f1; }

.section-create {
  float: left; }

.section-signin {
  margin-left: 1.6em;
  float: left;
  width: 33.333%; }

.col-col-full {
  padding-left: 8px;
  padding-right: 8px; }

.col-full,
.col-section-create {
  padding: 0 8px; }

.row {
  margin-left: -8px;
  margin-right: -8px; }

.forgot {
  margin: 0 10px; }

.Intro {
  background-image: url("/images/slider.png");
  padding-top: 66.6666667%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }

.Intro .text {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center; }

.text h1 {
  color: white; }

.text a {
  text-decoration: none; }

.text h1:hover {
  color: blue; }

.Staff {
  width: 100%;
  clip-path: polygon(0 0, 30% 0, 70% 100%, 0% 100%); }

.Student {
  width: 100%;
  margin-top: -68.5%;
  clip-path: polygon(100% 0, 100% 100%, 70% 100%, 30% 0); }

.Staff img,
.Student img {
  width: 100%;
  height: auto; }

.Slider a {
  text-decoration: none;
  color: black; }

.Staff {
  position: relative; }

.overlay1 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #39393b; }

.textStaff {
  position: absolute;
  color: white;
  bottom: 50%;
  left: 15%;
  font-size: 50px; }

.Staff-text {
  position: absolute;
  color: white;
  bottom: 50%;
  left: 15%;
  font-size: 50px;
  opacity: 0; }

.Staff:hover .overlay1,
.Staff:hover .Staff-text {
  opacity: 1; }

.Student {
  position: relative; }

.overlay2 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #39393b; }

.textStudent {
  position: absolute;
  color: white;
  bottom: 50%;
  right: 15%;
  font-size: 50px; }

.Student-text {
  position: absolute;
  color: white;
  bottom: 50%;
  right: 15%;
  font-size: 50px;
  opacity: 0; }

.Student:hover .overlay2,
.Student:hover .Student-text {
  opacity: 1; }

#slider {
  width: 100%;
  position: relative;
  padding-top: 43.452381%;
  background-image: url("/images/header1.jpg");
  background-repeat: no-repeat;
  background-size: cover; }

#slider .text-link {
  position: absolute;
  color: aliceblue;
  bottom: 70px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center; }

.Shopbutton button {
  background-color: rgba(0, 0, 0, 0);
  border-style: solid;
  border-color: white;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer; }

.Shopbutton button:hover {
  background-color: white;
  color: black; }

.slidersub1 {
  width: 50%; }

.slidersub2 {
  width: 50%; }

#slider2 img {
  width: 100%;
  height: auto; }

.slidersub1,
.slidersub2 {
  float: left; }

.slidersub1 {
  position: relative; }

.slidertextsub1 {
  position: absolute;
  color: red;
  bottom: 50px; }

.Valentine-button button {
  background-color: rgba(0, 0, 0, 0);
  border-style: solid;
  border-color: red;
  padding: 15px 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer; }

.Valentine-button button {
  color: red; }

.Valentine-button button:hover {
  background-color: white;
  color: black;
  border-color: white; }

.slidersub2 {
  position: relative; }

.slidertextsub2 {
  position: absolute;
  bottom: 50px;
  color: white; }

.Layers-button button {
  background-color: rgba(0, 0, 0, 0);
  border-style: solid;
  border-color: white;
  padding: 15px 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer; }

.Layers-button button {
  color: white; }

.Layers-button button:hover {
  background-color: white;
  color: black;
  border-color: white; }
