* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

header {
  width: 100%;
  height: 100%; }

.Nav_PC {
  background-color: black;
  height: 85px; }

.Nav_PC a {
  color: white; }

.Nav-right li,
.Nav-left li {
  display: inline-block; }

.Nav-right li {
  padding-right: 80px;
  padding-top: 30px; }

.Nav-right {
  float: left; }

.Nav-left {
  margin-left: 80%; }

.Nav-left a {
  font-size: 50px; }

.Nav_Tablet {
  height: 85px;
  background-color: black;
  display: none; }

.overlay_modal {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.6);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  display: none; }

.nav-left-tablet {
  display: none; }

.nav-left-tablet a {
  color: white; }

.nav-option-btn {
  padding-left: 10px; }

.nav__option {
  display: none; }

.nav_tablet {
  position: fixed;
  background-color: white;
  width: 30%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  opacity: 0;
  transition: transform linear 0.2s, opacity linear 0.2s;
  z-index: 1; }

.nav_tablet a {
  color: black;
  font-size: 20px; }

.nav_tablet li {
  cursor: pointer; }

.option__navbar {
  cursor: pointer; }

.overlay-for-tablet {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.6);
  display: none;
  animation: fadeIn linear 0.2s; }

.nav__option:checked ~ .nav_tablet {
  transform: translateX(0%);
  opacity: 1; }

.nav__option:checked ~ .overlay-for-tablet {
  display: block; }

.x-btn {
  margin-left: 90%; }

.x-btn:hover {
  opacity: 0.7; }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.Category-content {
  background-color: #f9f9f9;
  min-width: 30%;
  padding-bottom: 40px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  display: none; }

.Category-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block; }

.idea-content {
  background-color: #f9f9f9;
  min-width: 30%;
  padding-bottom: 40px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  display: none; }

.idea-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block; }

.Event-content {
  background-color: #f9f9f9;
  min-width: 30%;
  padding-bottom: 40px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  display: none; }

.Event-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block; }

.News-content {
  background-color: #f9f9f9;
  min-width: 30%;
  padding-bottom: 40px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  display: none; }

.News-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block; }

.nav_tablet li:hover .Category-content {
  display: block; }

.nav_tablet li:hover .idea-content {
  display: block; }

.nav_tablet li:hover .Event-content {
  display: block; }

.nav_tablet li:hover .News-content {
  display: block; }

.News-content a:hover {
  background-color: #f1f1f1; }

.Event-content a:hover {
  background-color: #f1f1f1; }

.Category-content a:hover {
  background-color: #f1f1f1; }

.idea-content a:hover {
  background-color: #f1f1f1; }

@media only screen and (min-width: 740px) and (max-width: 1024px) {
  .Nav_PC {
    display: none; }
  .Nav_Tablet {
    display: flex;
    align-items: center;
    font-size: 30px;
    justify-content: space-between; }
  .nav-left-tablet {
    display: block;
    font-size: 50px;
    padding-right: 10px; } }

footer {
  font-size: 16px;
  background-color: black; }

.col-2 li {
  list-style: none;
  padding-top: 20px;
  color: white; }

.col-2 a {
  color: white; }

.col-2 .infor {
  opacity: 0.6; }

.col-6 li {
  list-style: none;
  color: white;
  padding-top: 20px; }

.container {
  color: #000; }

.column-4 {
  float: left;
  width: 33.33333%;
  padding: 20px 2%;
  align-items: center; }

.btn-secondary {
  background-color: #000;
  color: #f1f1f1; }

.create-new {
  border-left: 1px solid #f1f1f1; }

.section-create {
  float: left; }

.section-signin {
  margin-left: 1.6em;
  float: left;
  width: 33.333%; }

.col-col-full {
  padding-left: 8px;
  padding-right: 8px; }

.col-full,
.col-section-create {
  padding: 0 8px; }

.row {
  margin-left: -8px;
  margin-right: -8px; }

.forgot {
  margin: 0 10px; }

.Intro {
  position: relative;
  background-image: url("/images/slider.png");
  padding-top: 66.6666667%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center; }

.text {
  position: absolute;
  margin-top: -50px; }

.text h1 {
  color: white; }

.text a {
  text-decoration: none; }

.text h1:hover {
  color: blue; }

.Staff {
  width: 100%;
  clip-path: polygon(0 0, 30% 0, 70% 100%, 0% 100%); }

.Student {
  width: 100%;
  margin-top: -68.5%;
  clip-path: polygon(100% 0, 100% 100%, 70% 100%, 30% 0); }

.Staff img,
.Student img {
  width: 100%;
  height: auto; }

.Slider a {
  text-decoration: none;
  color: black; }

.Staff {
  position: relative; }

.overlay1 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #39393b; }

.textStaff {
  position: absolute;
  color: white;
  bottom: 50%;
  left: 15%;
  font-size: 50px; }

.Staff-text {
  position: absolute;
  color: white;
  bottom: 50%;
  left: 15%;
  font-size: 50px;
  opacity: 0; }

.Staff:hover .overlay1,
.Staff:hover .Staff-text {
  opacity: 1; }

.Student {
  position: relative; }

.overlay2 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #39393b; }

.textStudent {
  position: absolute;
  color: white;
  bottom: 50%;
  right: 15%;
  font-size: 50px; }

.Student-text {
  position: absolute;
  color: white;
  bottom: 50%;
  right: 15%;
  font-size: 50px;
  opacity: 0; }

.Student:hover .overlay2,
.Student:hover .Student-text {
  opacity: 1; }

.checkbox-select-all-options {
  width: 10%;
  margin: 0px 16px; }
