{{!-- <footer>
    <div class="footer">
        <div class="row">
            <div class="col-2">
                <ul class="colum1">
                    <li><a href="">Promotions</a></li>
                    <li><a href="">Gift Cards</a></li>
                    <li><a href="">Stores</a></li>
                    <li><a href="">Store Directory</a></li>
                    <li><a href="">Preferred Loyalty Program</a></li>
                    <li><a href="">Klarna</a></li>
                    <li><a href="">20% First Responder Discount</a></li>
                    <li><a href="">10% Student Discount</a></li>
                </ul>
            </div>
            <div class="col-2">
                <ul class="colum2">
                    <li>Help</li>

                    <div class="infor">
                        <li><a href="">FAQs</a></li>
                        <li><a href="">Order Status</a></li>
                        <li><a href="">Returns</a></li>
                        <li><a href="">Shipping</a></li>
                        <li><a href="">Accessibility</a></li>
                        <li><a href="">COVID-19</a></li>
                    </div>

                    <li>Contact Us</li>

                    <div class="infor">
                        <li><a href="">Email</a></li>
                        <li><a href="">Call Us: 866.513.0513</a></li>
                        <li><a href=""><i class="material-icons" style="font-size:16px">chat_bubble</i>  Live Chat</a></li>
                    </div>

                </ul>
            </div>
            <div class="col-2">
                <ul class="colum3">
                    <li>About</li>

                    <div class="infor">
                        <li><a href="">About Calvin Klein</a></li>
                        <li><a href="">Careers</a></li>
                        <li><a href="">Privacy Commitment</a></li>
                        <li><a href="">Unequal is Unacceptable</a></li>
                    </div>

                    <li>Explore</li>

                    <div class="infor">
                        <li><a href="">Calvin Klein Jeans</a></li>
                        <li><a href="">#MYCALVINS</a></li>
                        <li><a href="">Campaigns</a></li>
                    </div>

                </ul>
            </div>
            <div class="col-6">
                <ul class="colum4">
                    <li>Sign Up & Save 10% on Your Purchase</li>
                    <li>Subscribe for news on our latest arrivals, exclusive promotions and events.</li>
                    <div class=""><button>Get Your 10% Off</button></div>
                </ul>
            </div>
        </div>
    </div>
</footer> --}}

     <footer class="site-footer">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <h6>About</h6>
              <p class="text-justify">Scanfcode.com <i>CODE WANTS TO BE SIMPLE </i> is an initiative  to help the upcoming programmers with the code. Scanfcode focuses on providing the most efficient code or snippets as the code wants to be simple. We will help programmers build up concepts in different programming languages that include C, C++, Java, HTML, CSS, Bootstrap, JavaScript, PHP, Android, SQL and Algorithm.</p>
            </div>
  
            <div class="col-xs-6 col-md-3">
              <h6>Event</h6>
              <ul class="footer-links">
                <li><a href="http://scanfcode.com/category/c-language/">Đại Học Greenwich</a></li>
                <li><a href="http://scanfcode.com/category/front-end-development/">UI Design</a></li>
                <li><a href="http://scanfcode.com/category/back-end-development/">PHP</a></li>
                <li><a href="http://scanfcode.com/category/java-programming-language/">Java</a></li>
                <li><a href="http://scanfcode.com/category/android/">Android</a></li>
                <li><a href="http://scanfcode.com/category/templates/">Templates</a></li>
              </ul>
            </div>
  
            <div class="col-xs-6 col-md-3">
              <h6>News</h6>
              <ul class="footer-links">
                <li><a href="http://scanfcode.com/about/">Đại học Greenwich</a></li>
                <li><a href="http://scanfcode.com/contact/">Greenwich Việt Nam chính thức gia nhập mạng lưới SBC Hub tại Việt Nam</a></li>
                <li><a href="http://scanfcode.com/contribute-at-scanfcode/">Contribute</a></li>
                <li><a href="http://scanfcode.com/privacy-policy/">Privacy Policy</a></li>
                <li><a href="http://scanfcode.com/sitemap/">Sitemap</a></li>
              </ul>
            </div>
          </div>
          <hr>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
              <p class="copyright-text">Copyright &copy; 2017 All Rights Reserved by 
           <a href="#">Scanfcode</a>.
              </p>
            </div>
  
            <div class="col-md-4 col-sm-6 col-xs-12">
              <ul class="social-icons">
                <li><a class="facebook-footer" href="#"><i class="fab fa-facebook"></i></a></li>
                <li><a class="twitter-footer" href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a class="dribbble-footer" href="#"><i class="fab fa-instagram"></i></a></li>
                <li><a class="linkedin-footer" href="#"><i class="fab fa-linkedin"></i></a></li>   
              </ul>
            </div>
          </div>
        </div>
  </footer>