<footer>
    <div class="footer">
        <div class="row">
            <div class="col-2">
                <ul class="colum1">
                    <li><a href="">Promotions</a></li>
                    <li><a href="">Gift Cards</a></li>
                    <li><a href="">Stores</a></li>
                    <li><a href="">Store Directory</a></li>
                    <li><a href="">Preferred Loyalty Program</a></li>
                    <li><a href="">Klarna</a></li>
                    <li><a href="">20% First Responder Discount</a></li>
                    <li><a href="">10% Student Discount</a></li>
                </ul>
            </div>
            <div class="col-2">
                <ul class="colum2">
                    <li>Help</li>

                    <div class="infor">
                        <li><a href="">FAQs</a></li>
                        <li><a href="">Order Status</a></li>
                        <li><a href="">Returns</a></li>
                        <li><a href="">Shipping</a></li>
                        <li><a href="">Accessibility</a></li>
                        <li><a href="">COVID-19</a></li>
                    </div>

                    <li>Contact Us</li>

                    <div class="infor">
                        <li><a href="">Email</a></li>
                        <li><a href="">Call Us: 866.513.0513</a></li>
                        <li><a href=""><i class="material-icons" style="font-size:16px">chat_bubble</i>  Live Chat</a></li>
                    </div>

                </ul>
            </div>
            <div class="col-2">
                <ul class="colum3">
                    <li>About</li>

                    <div class="infor">
                        <li><a href="">About Calvin Klein</a></li>
                        <li><a href="">Careers</a></li>
                        <li><a href="">Privacy Commitment</a></li>
                        <li><a href="">Unequal is Unacceptable</a></li>
                    </div>

                    <li>Explore</li>

                    <div class="infor">
                        <li><a href="">Calvin Klein Jeans</a></li>
                        <li><a href="">#MYCALVINS</a></li>
                        <li><a href="">Campaigns</a></li>
                    </div>

                </ul>
            </div>
            <div class="col-6">
                <ul class="colum4">
                    <li>Sign Up & Save 10% on Your Purchase</li>
                    <li>Subscribe for news on our latest arrivals, exclusive promotions and events.</li>
                    <div class=""><button>Get Your 10% Off</button></div>
                </ul>
            </div>
        </div>
    </div>
</footer>