

     <footer class="site-footer">
        <div class="container" style="padding: 0;">
          <div class="row footer-row">
            <div class="col-sm-12 col-md-6 footer-about">
              <h6>About</h6>
              <p>This is a business website with full functions such as creating categories, deleting, editing, creating ideas and you can like or dislike the ideas you like or don't created by Vietnamese programmers. 
                <br>Names of programmers 
                <ul>
                  <li>Le Dinh Dong </li>
                  <li>Nguyen Tien Thanh</li>
                  <li>Chau Tien Phong</li>
                  <li>Le Hoang Hiep</li>
                  <li>Nguyen Huynh Trieu Ti</li>
                  <li>Vu Hoai Thao My</li>
                </ul>
              </p>
            </div>
  
            <div class="col-xs-6 col-md-3">
              <h6>Event</h6>
              <ul class="footer-links">
                <li><a href="">Đại Học Greenwich</a></li>
                <li><a href="">Đại Học Greenwich</a></li>
                <li><a href="">Đại Học Greenwich</a></li>
                <li><a href="">Đại Học Greenwich</a></li>
                <li><a href="">Đại Học Greenwich</a></li>
              </ul>
            </div>
  
            <div class="col-xs-6 col-md-3">
              <h6>News</h6>
              <ul class="footer-links">
                <li><a href="">Đại học Greenwich</a></li>
                <li><a href="">Đại học Greenwich</a></li>
                <li><a href="">Đại học Greenwich</a></li>
                <li><a href="">Đại học Greenwich</a></li>
                <li><a href="">Đại học Greenwich</a></li>
              </ul>
            </div>
          </div>
          <hr>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
              <p class="copyright-text">Copyright &copy; 2017 All Rights Reserved by 
           <a href="#">Scanfcode</a>.
              </p>
            </div>
  
            <div class="col-md-4 col-sm-6 col-xs-12">
              <ul class="social-icons">
                <li><a class="facebook-footer" href="#"><i class="fab fa-facebook"></i></a></li>
                <li><a class="twitter-footer" href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a class="dribbble-footer" href="#"><i class="fab fa-instagram"></i></a></li>
                <li><a class="linkedin-footer" href="#"><i class="fab fa-linkedin"></i></a></li>   
              </ul>
            </div>
          </div>
        </div>
  </footer>