<header>
    <nav>
        <div class="NavBar">
              <div class="Nav-right">
                <ul>
                    <li><a href="/home">Homepage</a></li>
                    <li><a style="padding:0px" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" 
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="/category">Category</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a style="color:black" class="dropdown-item" href="../category/create">Create</a>
                        <a style="color:black" class="dropdown-item" href="/category">Category List</a>
                        <a style="color:black" class="dropdown-item" href="/me/stored/category">User category</a>
                        <div class="dropdown-divider"></div>
                        <a style="color:black" class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                    <li><a href="">Icon Login</a></li>
                    <li><a href="">Contact</a></li>
                </ul>
            </div>

              <div class="Nav-left">
                <ul>
                    <li><a href="/">FOG</a> </li>
                </ul>
              </div>
        </div>
    </nav>
</header>

   