<header>
    <nav>
        <div class="NavBar">
              <div class="Nav-right">
                <ul>
                    <li><a href="/home">Homepage</a></li>
                    <li><a href="/category">Catelogy</a></li>
                    <li><a href="">Icon Login</a></li>
                    <li><a href="">Contact</a></li>
                </ul>
            </div>

              <div class="Nav-left">
                <ul>
                    <li><a href="">FOG</a> </li>
                </ul>
              </div>
        </div>
    </nav>
</header>

   