<header>
    <nav class="nav">
        <div class="navbar">
                    <div class="navleft">
                        <ul>
                            <li><a href="">Women</a></li>
                            <li><a href="">Men</a></li>
                            <li><a href="">Kids</a></li>
                            <li><a href="">Underwear</a></li>
                            <li><a href="">Colections</a></li>
                            <li><a href="">Sale</a></li>
                            <li><a href="/category">Category</a></li>
                        </ul>
                    </div>
                    {{!-- NAVLEFT --}}
                    <div class="navcenter">
                        <ul>
                            <li class="textnav"><a href="/">Calvin Klein</a></li>
                        </ul>
                    </div>
                    <div class="navright">
                        <ul>
                        <li>
                            <a href=""><i class='fas fa-search' style='font-size:16px'></i></a>
                                        <div class="inputsub">
                                            <form class="searchForm" method="GET" action="/search">
                                            <input class="form-control" placeholder="Search" id="Search" name="q" type="text" type="submit">
                                            </form>
                                        </div>
                        </li>
                        <li>
                        <a class="Icon" href=""><i class='fas fa-user-alt' style='font-size:16px'></i></a>
                         <div class="login">
                            <a href="/login"> Sign In| Creat Account</a> 
                            <a href=""> Track Oder</a> 
                         </div>
                        </li>
                        <li>
                        <a href=""><i class="fa fa-shopping-bag" style="font-size:16px"></i></a>
                        </li>
                        </ul>
                    </div>
        </div>
    </nav>

    {{!-- SLIDER --}}
    <div id="slider">
        <div class="text-link">
            <h1>Extra 60% of Sale</h1>
            <div class="Subtext">New markdowns added. Price as market.</div>
        </div>
    </div>
</header>