<header>
    <nav>
        <div class="NavBar">
              <div class="Nav-right">
                <ul>
                    <li><a href="/home">Homepage</a></li>
                    <li><a style="padding:0px" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" 
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="/category">Category</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a style="color:black" class="dropdown-item" href="/category">Category List</a>
                        <div class="dropdown-divider"></div>
                        <a style="color:black" class="dropdown-item" href="../category/create">Create</a>
                        <a style="color:black" class="dropdown-item" href="/me/stored/category">User category</a>
                        </div>
                    </li>
                    <li><a style="padding:0px" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" 
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="/event">Event</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a style="color:black" class="dropdown-item" href="/event">Event list</a>
                        <div class="dropdown-divider"></div>
                        <a style="color:black" class="dropdown-item" href="../event/create">Create event</a>
                        <a style="color:black" class="dropdown-item" href="/event/manage">Manage event</a>
                        </div>
                    </li>
                    <li><a style="padding:0px" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" 
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="/news">News</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a style="color:black" class="dropdown-item" href="/news">News list</a>
                        <div class="dropdown-divider"></div>
                        <a style="color:black" class="dropdown-item" href="../news/create">Create News</a>
                        <a style="color:black" class="dropdown-item" href="/news/manage">Manage News</a>
                        </div>
                    </li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div>

              <div class="Nav-left">
                <ul>
                    <li><a href="/">FOG</a> </li>
                </ul>
              </div>
        </div>
    </nav>
</header>

   