<header>
    <nav class="nav">
        <div class="navbar">
            <ul class="navbar-content">
                <li><a href="">Women</a></li>
                <li><a href="">Men</a></li>
                <li><a href="">Kids</a></li>
                <li><a href="">Underwear</a></li>
                <li><a href="">Colections</a></li>
                <li><a href="">Sale</a></li>
                <li><a href="">Calvin Klein</a></li>
                <li><a href="">Icon</a></li>
                <li><a href="">Icon</a></li>
                <li><a href="">Icon</a></li>
            </ul>
        </div>
    </nav>
</header>