
<header>
    
    <nav class="Nav__bar">
        <div class="Nav_Tablet">
                <div class="nav-option-btn">
                            <label for="option-nav" class="option__navbar"><i class="fas fa-bars" style="color: white;"></i></label>
                            <input type="checkbox" id="option-nav" class="nav__option">
                            <label for="option-nav" class="overlay-for-tablet"></label>
                            <div class="nav_tablet">
                                <label for="option-nav" class="x-btn" style="cursor: pointer;">x</label>
                                <ul>
                                    <li><a href="">Homepage</a></li>
                                    <li>
                                        <a>Category <i class="fas fa-chevron-down" style="font-size: 13px;"></i></a>
                                            <div class="Category-content">
                                                <a href="/category">Category List</a>
                                                <a href="../category/create">Create</a>
                                                <a href="/me/stored/category">User category</a>
                                            </div>
                                    </li>
                                    <li>
                                        <a>Idea <i class="fas fa-chevron-down" style="font-size: 13px;"></i></a>
                                            <div class="idea-content">
                                                <a href="/idea">Idea List</a>
                                                <a href="../idea/create">Create</a>
                                                <a href="idea/manage">User idea</a>
                                            </div>
                                    </li>
                                    
                                    <li>
                                        <a>Event <i class="fas fa-chevron-down" style="font-size: 13px;"></i></a>
                                        <div class="Event-content">
                                            <a href="/event">Event list</a>
                                            <a href="../event/create">Create event</a>
                                            <a href="/event/manage">Manage event</a>
                                        </div>
                                    </li>
                                    <li>
                                        <a>News <i class="fas fa-chevron-down" style="font-size: 13px;"></i></a>
                                        <div class="News-content">
                                            <a href="/news">New list</a>
                                            <a href="../news/create">Create News</a>
                                            <a href="/news/manage">Manage News</a>  
                                        </div>
                                    </li>
                                </ul>
                            </div>
                </div>
                <div class="nav-left-tablet"><a href="/">FOG</a></div>
        </div>
            {{!-- nav for pc --}}
            <div class="Nav_PC">
              <div class="Nav-right">
                <ul>
                    <li><a href="/home">Homepage</a></li>
                    <li><a style="padding:0px" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" 
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="/category">Category</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a style="color:black" class="dropdown-item" href="/category">Category List</a>
                        <div class="dropdown-divider"></div>
                        <a style="color:black" class="dropdown-item" href="../category/create">Create</a>
                        <a style="color:black" class="dropdown-item" href="/me/stored/category">User category</a>
                        </div>
                    </li>
                    <li><a style="padding:0px" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" 
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="/event">Event</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a style="color:black" class="dropdown-item" href="/event">Event list</a>
                        <div class="dropdown-divider"></div>
                        <a style="color:black" class="dropdown-item" href="../event/create">Create event</a>
                        <a style="color:black" class="dropdown-item" href="/event/manage">Manage event</a>
                        </div>
                    </li>
                    <li><a style="padding:0px" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" 
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="/news">News</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a style="color:black" class="dropdown-item" href="/news">News list</a>
                        <div class="dropdown-divider"></div>
                        <a style="color:black" class="dropdown-item" href="../news/create">Create News</a>
                        <a style="color:black" class="dropdown-item" href="/news/manage">Manage News</a>
                        </div>
                    </li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
              </div>

              <div class="Nav-left">
                <ul>
                    <li><a href="/">FOG</a> </li>
                </ul>
              </div>
            </div>
    </nav>
</header>

   