<h1>Category Layout</h1>

<ul class="listCategory">
    {{#each category}}
    <li>{{this.name}}</li>
    {{/each}}
</ul>

<div class="mt-4">
    <div class="row">
        <div class="col-sm-6 col-lg-4">
            {{#each category}}
            <div class="card">
            <img class="card-img-top" src="{{this.image}}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{this.name}} $$</h5>
                <p class="card-text">{{this.description}}</p>
                <a href="#" class="btn btn-primary"> Category Detail </a>
            </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>