<div class="co-content">
    <h1 class="co-xxxlarge"><b>CONTACT FOG'S UNIVERSITY</b></h1>
    <div class="co-display">
        <p>Thank you for visiting our FOG University (FEAR OF GOD) dashboard.<p>
    </div>
</div>

<div class="co-modal-content">
    <div class="co-us">
        <h2 class="co-wide"><b>Contact Us</b></h2>
    </div>

    <div class="co-co">
        <div class="left-column-1">
            <h3 class="co-cd"><b>HCM City</b></h3>
                <p class="co-1">Address: 20 Hai Thuong Lan Ong, District 5, Province 13, HCM City</p>
            <h3 class="co-cd"><b>Map HCM</b></h3>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.792859852029!2d106.65229801474884!3d10.750441592339183!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752ef5194f44fd%3A0xaa5e8caafb496a94!2zMjAgxJAuIEjhuqNpIFRoxrDhu6NuZyBMw6NuIMOUbmcsIFBoxrDhu51uZyAxMywgUXXhuq1uIDUsIFRow6BuaCBwaOG7kSBI4buTIENow60gTWluaCwgVmlldG5hbQ!5e0!3m2!1sen!2s!4v1645996759785!5m2!1sen!2s"
                style="border:0;" allowfullscreen="" loading="lazy" width="95%" height="250em"></iframe>
            <h3 class="co-cd"><b>Contact Us for A Consultation</b></h3>
                <p class="co-1" id="callus"><b> Tel: </b>
                    <a class="co-1-a" title="Call now!" href="tel:097.999.8888"> (+84)28.0000.1111 </a></p>
                <p class="co-1" id="email"><b> Email-Contact: </b>
                    <a class="co-1-a" title="E-Now!" href="mail:foguniversity@FOG.uk"> foguniversityhcm@FOG.uk </a></p>
                <p class="co-1" id="w-hours"><b> Working-Hours: </b>Monday to Saturday from 8am to 5pm</p>
            <h3 class="co-cd"><b>Student Support Services</b></h3>
                <p class="co-1" id="callus"><b> Tel: </b>
                    <a class="co-1-a" title="Call now!" href="tel:097.999.8888"> (+84)28.1111.2222 </a></p>
                <p class="co-1" id="email"><b> Email-Contact: </b>
                    <a class="co-1-a" title="E-Now!" href="mail:foguniversity@FOG.uk"> foguniadminhcm@FOG.uk </a></p>
                <p class="co-1" id="w-hours"><b> Working-Hours: </b>Monday to Saturday from 8.30am to 5.30pm</p>
            <h3 class="co-cd"><b>Business Services</b></h3>
                <p class="co-1" id="callus"><b> Tel: </b>
                    <a class="co-1-a" title="Call now!" href="tel:097.999.8888"> (+84)28.1234.1212 </a></p>
                <p class="co-1" id="email"><b> Email-Contact: </b>
                    <a class="co-1-a" title="E-Now!" href="mail:foguniversity@FOG.uk"> fogacukhcm@FOG.uk </a></p>
                <p class="co-1" id="w-hours"><b> Working-Hours: </b>Monday to Saturday from 8am to 5pm</p>
        </div>

        <div class="right-column-1">
            <h3 class="co-cd"><b>HaNoi City</b></h3>
                <p class="co-1">Address: 12 Nguyen Thi Minh Khai, Ha Dong, Nguyen Trai Province, Ha Noi</p>
            <h3 class="co-cd"><b>Map HN</b></h3>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3725.5317499785533!2d105.77588171488236!3d20.971311386029477!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3134532bb44b9c83%3A0x70eb8763d73fe221!2zMTIgUC4gTmd1eeG7hW4gVGjhu4sgTWluaCBLaGFpLCBQLiBOZ3V54buFbiBUcsOjaSwgSMOgIMSQw7RuZywgSMOgIE7hu5lpLCBWaWV0bmFt!5e0!3m2!1sen!2s!4v1645997149531!5m2!1sen!2s"
                style="border:0;" allowfullscreen="" loading="lazy" width="95%" height="250em"></iframe>
            <h3 class="co-cd"><b>Contact Us for A Consultation</b></h3>
                <p class="co-1" id="callus"><b> Tel: </b>
                    <a class="co-1-a" title="Call now!" href="tel:097.999.8888"> (+84)28.1111.0000 </a></p>
                <p class="co-1" id="email"><b> Email-Contact: </b>
                    <a class="co-1-a" title="E-Now!" href="mail:foguniversity@FOG.uk"> foguniversityhn@FOG.uk </a></p>
                <p class="co-1" id="w-hours"><b> Working-Hours: </b>Monday to Saturday from 8am to 5pm</p>
            <h3 class="co-cd"><b>Student Support Services</b></h3>
                <p class="co-1" id="callus"><b> Tel: </b>
                    <a class="co-1-a" title="Call now!" href="tel:097.999.8888"> (+84)28.2222.1111 </a></p>
                <p class="co-1" id="email"><b> Email-Contact: </b>
                    <a class="co-1-a" title="E-Now!" href="mail:foguniversity@FOG.uk"> foguniadminhn@FOG.uk </a></p>
                <p class="co-1" id="w-hours"><b> Working-Hours: </b>Monday to Saturday from 8.30am to 5.30pm</p>
            <h3 class="co-cd"><b>Business Services</b></h3>
                <p class="co-1" id="callus"><b> Tel: </b>
                    <a class="co-1-a" title="Call now!" href="tel:097.999.8888"> (+84)28.1234.2121 </a></p>
                <p class="co-1" id="email"><b> Email-Contact: </b>
                    <a class="co-1-a" title="E-Now!" href="mail:foguniversity@FOG.uk"> fogacukhn@FOG.uk </a></p>
                <p class="co-1" id="w-hours"><b> Working-Hours: </b>Monday to Saturday from 8am to 5pm</p>
        </div>
    </div>

    <button class="co-open-button" onclick="openForm()"><b>Contact Form</b></button>
    <div class="co-chat" id="co-myForm">
        <form action="/" class="co-0">
            <h4 class="co-chat-tr"><b>Chat With FOG</b></h4>
            <p class="1-co">
                <input class="co-e" placeholder="EMAIL" required>
            </p>
            <p class="1-co">
                <input class="co-t" placeholder="CONTACT NO" required>
            </p>
            <p class="1-co">
                <input class="co-m" placeholder="MESSAGE" required>
            </p>
            <p class="1-co">
                <button type="submit" class="btn00"><b>Send</b></button>
                <button type="button" class="btn00 cancel00" onclick="closeForm()"><b>Close</b></button>
            </p>
        </form>
    </div>
</div>
<h5 class="co-c5"><b style="color: #f3f3f3">.</b></h5>

<script>
function openForm()
{
  document.getElementById("co-myForm").style.display = "block";
}
function closeForm()
{
  document.getElementById("co-myForm").style.display = "none";
}
</script>