<h1 class="page-title h1">Contact FOG</h1>					
<div class="s-sink t-sink c-subheader__desc">
	<p>Thank you for visiting our website. If you have feedback about any page on www.FOG.edu please use the feedback form below.</p>
    <p>For other general inquiries,<br>call  0965 082 424 or write to:</p> <p>FOG University Cambridge, MA 012345</p></div>
<figure class="c-image--bg c-image">
<div class="c-image__image lazyloaded" role="img" aria-label="Features" data-expand="200" data-bgset="https://www.harvard.edu/wp-content/uploads/2021/02/010313_Features_SM_243-375x281.jpg 375w 281h, 
https://www.harvard.edu/wp-content/uploads/2021/02/010313_Features_SM_243-768x576.jpg 768w 576h, 
https://www.harvard.edu/wp-content/uploads/2021/02/010313_Features_SM_243-696x583.jpg 696w 583h" 
style="background-image: url(&quot;https://www.harvard.edu/wp-content/uploads/2021/02/010313_Features_SM_243-768x576.jpg&quot;);">
    <picture style="display: none;">
    <source sizes="(min-width: 1260px) 1260px, 100vw" data-srcset="https://www.harvard.edu/wp-content/uploads/2021/02/010313_Features_SM_243-375x281.jpg 375w 281h, 
    https://www.harvard.edu/wp-content/uploads/2021/02/010313_Features_SM_243-768x576.jpg 768w 576h, 
    https://www.harvard.edu/wp-content/uploads/2021/02/010313_Features_SM_243-696x583.jpg 696w 583h" 
    srcset="https://www.harvard.edu/wp-content/uploads/2021/02/010313_Features_SM_243-375x281.jpg 375w 281h, 
    https://www.harvard.edu/wp-content/uploads/2021/02/010313_Features_SM_243-768x576.jpg 768w 576h, 
    https://www.harvard.edu/wp-content/uploads/2021/02/010313_Features_SM_243-696x583.jpg 696w 583h">
    <img alt="" class=" lazyloaded" data-sizes="(min-width: 1260px) 1260px, 100vw" sizes="(min-width: 1260px) 1260px, 100vw"></picture></div></figure>

<h2 class="gform_title">Website Feedback Form</h2>
    <span class="gform_description">Thank you for visiting our website. 
    If you have feedback about your experience, content on this site, or to report a broken link please complete this form. 
    We value your feedback and suggestions.</span></div>
    <form method="post" enctype="multipart/form-data" id="gform_2" 
    action="/contact-harvard/?fbclid=IwAR2jckO-OgiKiPpapjNgnMc2SE28rylcXv6IVinQYYBdM-1ewogtQhaVCCo" novalidate="">

<div class="gform_body gform-body">
    <ul id="gform_fields_2" class="gform_fields top_label form_sublabel_below description_below">
        <li id="field_2_1" class="gfield field_sublabel_below field_description_below gfield_visibility_visible gf-name" data-field-class="gf-name">
            <fieldset class="gfieldset">
                <legend class="gfield_label">Name</legend>
                    <div class="ginput_complex ginput_container no_prefix has_first_name no_middle_name has_last_name no_suffix gf_name_has_2 ginput_container_name" id="input_2_1">
                        <span id="input_2_1_3_container" class="name_first">
                            <input type="text" name="input_1.3" id="input_2_1_3" value="" aria-required="false">
                                <label for="input_2_1_3">First</label></span>
                        <span id="input_2_1_6_container" class="name_last">
                            <input type="text" name="input_1.6" id="input_2_1_6" value="" aria-required="false">
                                <label for="input_2_1_6">Last</label></span></div></fieldset></li>
            
        <li id="field_2_2" class="gfield gfield_contains_required field_sublabel_below field_description_below gfield_visibility_visible gf-email" data-field-class="gf-email"><label class="gfield_label gfield_label_before_complex">Email<span class="gfield_required"><span class="gfield_required gfield_required_asterisk"> * <span class="sr-only"> Required</span></span></span></label><div class="ginput_complex ginput_container ginput_container_email" id="input_2_2_container">
            <span id="input_2_2_1_container" class="ginput_left">
                <input class="" type="email" name="input_2" id="input_2_2" value="" aria-required="true" aria-invalid="false">
                    <label for="input_2_2">Enter Email</label></span>
            <span id="input_2_2_2_container" class="ginput_right">
                <input class="" type="email" name="input_2_2" id="input_2_2_2" value="" aria-required="true" aria-invalid="false">
                    <label for="input_2_2_2">Confirm Email</label></span>
            <div class="gf_clear gf_clear_complex"></div></div></li>
            
        <li id="field_2_3" class="gfield field_sublabel_below field_description_below gfield_visibility_visible gf-textarea" data-field-class="gf-textarea">
            <label class="gfield_label" for="input_2_3">Comment</label>
                <div class="ginput_container ginput_container_textarea">
                    <textarea name="input_3" id="input_2_3" class="textarea medium" aria-invalid="false" rows="10" cols="50"></textarea></div></li>

        <li id="field_2_4" class="gfield field_sublabel_below field_description_below gfield_visibility_visible">
            <label class="gfield_label screen-reader-text" for="input_2_4"></label>
                <div id="input_2_4" class="ginput_container ginput_recaptcha gform-initialized" data-sitekey="6LdV_SUaAAAAAMN7aZNeCMxN6fjWTFap-JeK8_ao" data-theme="light" data-tabindex="-1" data-size="invisible" data-badge="bottomright">
                    <div class="grecaptcha-badge" data-style="bottomright" style="width: 256px; height: 60px; display: block; transition: right 0.3s ease 0s; position: fixed; bottom: 14px; right: -186px; box-shadow: gray 0px 0px 5px; border-radius: 2px; overflow: hidden;">
                        <div class="grecaptcha-logo">
                            <iframe title="reCAPTCHA" src="https://www.google.com/recaptcha/api2/anchor?ar=1&amp;k=6LdV_SUaAAAAAMN7aZNeCMxN6fjWTFap-JeK8_ao&amp;co=aHR0cHM6Ly93d3cuaGFydmFyZC5lZHU6NDQz&amp;hl=en&amp;v=1B_yv3CBEV10KtI2HJ6eEXhJ&amp;theme=light&amp;size=invisible&amp;badge=bottomright&amp;cb=6j3ypzen2zu8" width="256" height="60" role="presentation" name="a-g3z6lsxo0n5c" frameborder="0" scrolling="no" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox" tabindex="-1"></iframe></div>
                        <div class="grecaptcha-error"></div>
                        <textarea id="g-recaptcha-response" name="g-recaptcha-response" class="g-recaptcha-response" style="width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;"></textarea></div>
                    <iframe style="display: none;"></iframe></div></li>

        <li id="field_2_5" class="gfield gform_validation_container field_sublabel_below field_description_below gfield_visibility_visible">
            <label class="gfield_label" for="input_2_5">Name</label>
                <div class="ginput_container">
                    <input name="input_5" id="input_2_5" type="text" value="" autocomplete="new-password"></div>
                <div class="gfield_description" id="gfield_description_2_5">This field is for validation purposes and should be left unchanged.</div></li></ul></div>

<div class="gform_footer top_label">
    <input type="submit" id="gform_submit_button_2" class="gform_button button" value="Submit" onclick="if(window[&quot;gf_submitting_2&quot;]){return false;}  if( !jQuery(&quot;#gform_2&quot;)[0].checkValidity || jQuery(&quot;#gform_2&quot;)[0].checkValidity()){window[&quot;gf_submitting_2&quot;]=true;}  " onkeypress="if( event.keyCode == 13 ){ if(window[&quot;gf_submitting_2&quot;]){return false;} if( !jQuery(&quot;#gform_2&quot;)[0].checkValidity || jQuery(&quot;#gform_2&quot;)[0].checkValidity()){window[&quot;gf_submitting_2&quot;]=true;}  jQuery(&quot;#gform_2&quot;).trigger(&quot;submit&quot;,[true]); }"> 
    <input type="hidden" class="gform_hidden" name="is_submit_2" value="1">
    <input type="hidden" class="gform_hidden" name="gform_submit" value="2">
    <input type="hidden" class="gform_hidden" name="gform_unique_id" value="">
    <input type="hidden" class="gform_hidden" name="state_2" value="WyJbXSIsIjA1NmQ1ODE4YmFmODQ0N2I1OTE3YTU3YmQ1MjU5OTNkIl0=">
    <input type="hidden" class="gform_hidden" name="gform_target_page_number_2" id="gform_target_page_number_2" value="0">
    <input type="hidden" class="gform_hidden" name="gform_source_page_number_2" id="gform_source_page_number_2" value="1">
    <input type="hidden" name="gform_field_values" value=""></div>