<div class="Intro">
    <div class="text">
        <a href=""><h1>FOG University</h1></a>
    </div>
</div>



<div class="Slider">
    <div class="Staff">
        <a href="">
        <img src="/images/slider2.jpeg" alt="">
        <div class="Staff-text">Staff</div>
        </a>
    </div>
    <div class="Student">
        <a href="">
        <img src="/images/slider3.jpg" alt="">
        <div class="Student-text">Student</div>
        </a>
    </div>
</div>
