<div class="index_page">
<div class="Intro">
    <div class="text">
        <a href=""><h1>FearOG</h1></a>
    </div>
</div>



<div class="Slider">
    <div class="Staff">
        <a href="/news">
        <img src="/images/slider2.jpeg" alt="">
        <div class="textStaff">News</div>
        <div class="overlay1">
        <div class="Staff-text">News</div>
        </div>
        </a>
    </div>
    <div class="Student">
        <a href="/event">
        <img src="/images/slider2.jpeg" alt="">
        <div class="textStudent">Event</div>
        <div class="overlay2">
        <div class="Student-text">Event</div>
        </div>
        </a>
    </div>
</div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function (){
        if( '{{roleNofitication}}') {
            alert("{{roleNofitication}}");
        }
    })
</script>
