
  {{!-- SLIDER --}}
    <div id="slider">
        <div class="text-link">
            <h1>Extra 60% of Sale</h1>
            <div class="Subtext">New markdowns added. Price as market.</div>
            <div class="Shopbutton"><button><a href="/category">Shop Now</a></button></div>
        </div>
    </div>


<div id="slider2">
   <div class="slidersub1">
       <img src="/images/header2.jpg" alt="Vanlentine">
   </div>
   <div class="slidersub2">
       <img src="/images/header3.jpg" alt="Vanlentine">
   </div>
</div>
  