
  {{!-- SLIDER --}}
    <div id="slider">
        <div class="text-link">
            <h1>Extra 80% of Sale</h1>
            <div class="Subtext">New markdowns added. Price as market.</div>
            <div class="Shopbutton"><a href="/category"><button>Shop Now</button></a></div>
        </div>
    </div>


<div id="slider2">
   <div class="slidersub1">
       <img src="/images/header2.jpg" alt="Vanlentine">
       
        <div class="slidertextsub1">
            <h1>Valentine's day forever</h1>
            <div class="Subtext">Timeless scents. Share your love.</div>
            <div class="Valentine-button">
                <a href="/category"><button>Shop Women's</button></a>
                <a href="/category"><button>Shop Men's</button></a>
            </div>
        </div>
   </div>
   
    
   <div class="slidersub2">
       <img src="/images/header3.jpg" alt="Vanlentine">
        <div class="slidertextsub2">
            <h1>Soft Layers</h1>
            <div class="Subtext">Elevated sweatshirt favorites, featuring men's French Terry now at $49.99.</div>
            <div class="Layers-button">
                <a href="/category"><button>Shop Women's</button></a>
                <a href="/category"><button>Shop Women's</button></a>
            </div>
        </div>
   </div>
</div>



  
  