
  {{!-- SLIDER --}}
    <div id="slider">
        <div class="text-link">
            <h1>Extra 60% of Sale</h1>
            <div class="Subtext">New markdowns added. Price as market.</div>
            <div class="Shopbutton"><button><a href="/category">Shop Now</a></button></div>
        </div>
    </div>

  