<div class="Intro">
    <div class="text">
        <a href=""><h1>FOG University</h1></a>
    </div>
</div>



<div class="Slider">
    <div class="Staff">
        <img src="/images/slider2.jpeg" alt="">
    </div>
    <div class="Student">
        <img src="/images/slider3.jpg" alt="">
    </div>
</div>
