
<div class="row">
    <div class="column-4">
        <h2 class="create-new">
            Login 
        </h2>
        <form>
            <label>Email</label>
            <input type="email" name="" id="" class="form-control">
            <label>Password</label>         
            <input type="password" name="" id="" class="form-control">
            <input type="checkbox" name="checkrememberme" id=""> Remember me  <a href="">FORGOT PASSWORD?</a>  
            <input type="submit" class="btn btn-secondary" value="Log in">
        </form>
    </div>
    <div class="column-4">
        <h2 class="create-new">
            Create An Account 
        </h2>
        <form>
            <label>Email</label>
            <input type="email" name="" id="" class="form-control">
            <label>Password</label>         
            <input type="password" name="" id="" class="form-control">
            <label>Re-Password</label>         
            <input type="repassword" name="" id="" class="form-control">
            <input type="checkbox" name="checkrememberme" id=""> Remember me  <a href="">FORGOT PASSWORD?</a> 
            <input type="submit" class="btn btn-secondary" value="Sign In">
        </form>
    </div>
    <div class="column-4">
        
    </div>
</div>

