
<div class="sign-up-page">
        
    <form class="sign-up" method="post" action="/store">
        <h3>Register Here</h3>
        <div class="social">
          <div class="go"><i class="fab fa-google"></i>  Google</div>
          <div class="fb"><i class="fab fa-facebook"></i>  Facebook</div>
        </div>
        <label for="username">Username</label>
        <input class="input-signup" type="text" placeholder="Email" id="email" name="email" required>

        <label for="password">Password</label>
        <input class="input-signup" type="password" placeholder="Password" id="password"  name="password" required>

        <div class="checkbox-terms">
            <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike" required>
            <label1 for="vehicle1"> I accept the <a href="">Terms and Conditions</a></label1>
        </div>

        <button class="register-button submit">Register</button>
    </form>
</div>
