<h1>Register Layout</h1>

<div class="row">
    <div class="column-6">
        <h2 class="create-new">
            Create An Account 
        </h2>
        <form action="/store" method="POST">
            <label>Full name</label>
            <input type="text" name="name" id="name" class="form-control" required>
            <label>Email</label>
            <input type="text" name="email" id="this is email" class="form-control" required>
            <label>Password</label>         
            <input type="password" name="password" id="this is pass" class="form-control" required>
            <label for="" class="contain">Your password must contain:</label>
            <ul class="three-content">
                <li>At least 6 characters</li>
                <li>1 letter</li>
                <li>1 number</li>
            </ul>
            {{!-- <label>Confirm Password</label>          --}}
            {{!-- <input type="repassword" name="repassword" id="this is confirm" class="form-control"> --}}
            {{!-- <input type="checkbox" name="checkrememberme" id=""> Remember me  <a href="">FORGOT PASSWORD?</a>  --}}
            <label class="Already" for="">Already a Calvin Klein Preferred Loyalty Member?</label> <br>
            {{!-- <label>Enter your member ID</label>         
            <input type="signin-id" name="option" id="this is optinal" placeholder="Optional" class="form-control">
            <label for="" class="forgot">Forgot your Member ID?</label><br>
<label>Enter the email address associated with your loyalty account above and <a href="" class="click">CLICK HERE.</a> <br>
If an account for this email address exists, you will receive an email with your Member ID.</lable> <br> --}}
            <input type="submit" class="btn btn-secondary" value="REGISTER"> <br>
            <label for="" class="by">By submitting my information I agree to the 
                <a href="" class="term">TERMS & CONDITIONS.</a> </label>
        </form>
    </div>


     <div class="column-6">
        <h2 class="Earn-Points">
           Earn Points On <br>
           Every Purchase 
        </h2>
        <form>
          <label for="" class="Preferred"> Preferred Loyalty Program members get:
              <li>$1 spent = 1 point</li>
              <li>200 points = $20 reward</li>
              <li>Fast, easy checkout</li>
              <li>Special birthday gift</li>
          </label>
            
          <label for="" class="Please">Please read our <a href="" class="term2">TERMS AND CONDITIONS</a> for 
          more details.</label> 
        </form>
    </div>
</div>