<h1>Welcome to FearOG page</h1>
<p>Role: {{userLogin.role}}</p>
{{#ifeq userLogin.role 'Admin'}}
<p>Admin view</p>
{{else ifeq userLogin.role 'Staff'}}
<p>Staff view</p>
{{else ifeq userLogin.role 'QAC'}}
<p>QAC view</p> 
{{else}}
<p>Fail view</p>
{{/ifeq}}

