
<div class="container">
    <h1 class="text-center">Change password</h1>

    <form action="/user/{{user._id}}/change" method="POST">
    <label>New Password</label>
    <div class="form-group pass_show"> 
        <input type="password" class="form-control" name="password" placeholder="Enter New Password"> 
    </div> 
    <label>Confirm Password</label>
    <div class="form-group pass_show"> 
        <input type="password" class="form-control" placeholder="Confir New Password"> 
    </div> 
    <button type="submit" class="btn btn-secondary">Change password</button>
    </form>
    <br>
</div>