<h1 id="h1-create-category"><B> NEW CATEGORY </B></h1>
<form action="/category/store" method="post">
<label for="categoryName">Name</label>
<input type="text" name="categoryName">
<label for="deadlineSubmit">deadlineSubmit</label>
<input type="date" name="deadlineSubmit">
<label for="deadlineCmt">deadlineCmt</label>
<input type="date" name="deadlineCmt">
<button value="Submit"></button>
</form>

{{!-- <h2 id="h2-create-category"><button onclick="document.getElementById('id01').style.display='block'" id="N-create-category"><i>Create</i></button></h2>
<p id="p-create-category"><img class="w3-image" src="/images/slider3.jpg" alt="FOG" width="100%" height="100%"></p>

<div id="id01" class="create-modal">
  <form class="cr-modal-content animate-cr" action="/category/store" method="post" >
    <div class="create-container">
      <label for="uname"><b>Name CATEGORY</b></label>
      <h3 id="h3-create-category"><input type="text-create-category" class="form-control create-category-mobile" id="name" name="name" placeholder="Enter Username" name="uname" required></h3></div>
    <p id="p-create-category"><input type="submit" class="btn-success-1 create-category-mobile"value="Submit">
    <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn-1 mobile">Cancel</button></p>
  </form>
</div>
<script>
var modal = document.getElementById('id01');
window.onclick = function(event) 
{
    if (event.target == modal) 
    {
        modal.style.display = "none";
    }
}
</script> --}}