<h1>Create new category page</h1> 
<div class="mt-4">
  {{!-- enctype="multipart/form-data" --}}
<form action="/category/store" method="post" >
  <div class="form-group">
        <label for="name">name</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Enter name"> 
      </div>
      <div class="form-group">
        <label for="description">description</label>
        <input type="text" class="form-control" id="description" name="description" placeholder="Enter description"> 
      </div>
      <div class="form-group">
        <label for="image">image</label>
        <input type="text" class="form-control" id="image" name="image" placeholder="Enter image"> 
      </div>
      {{!-- <div class="form-group">
        <label for="createdAt">Create at</label>
        <input type="text" class="form-control" id="createdAt" name="createdAt" placeholder="Enter createdAt"> 
      </div>
      <div class="form-group">
        <label for="updatedAt">Updated at</label>
        <input type="text" class="form-control" id="updatedAt" name="updatedAt" placeholder="Enter updatedAt"> 
      </div> --}}
      {{!-- <div class="form-group">
        <label for="slug">slug</label>
        <input type="text" class="form-control" id="slug" name="slug" placeholder="Enter slug"> 
      </div> --}}
  <input type="submit" value="Submit">
</form>
</div>

